rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // TEMPORARY: Allow Public Read for EVERYTHING to debug permissions
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
